{% extends 'homebase.html' %}

{% block content %}

<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">

  <div class="sm:mx-auto sm:w-full sm:max-w-sm">

    <img src="https://tailwindcss.com/plus-assets/img/logos/mark.svg?color=indigo&shade=500" 
    alt="Your Company" 
    class="mx-auto h-10 w-auto" />

    <h2 class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-black">
      Register a new Admin account
    </h2>

  </div>


  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">

    <form action="#" method="POST" class="space-y-6">
      {% csrf_token %}
      <div>

        <label for="username" class="block text-sm/6 font-medium text-black">
          Username
        </label>

        <div class="mt-2">

          <input 
            id="username"
            type="text"
            name="username"
            autocomplete="username"
            class="block w-full rounded-md bg-blue/5 px-3 py-1.5 text-base text-black outline-1 -outline-offset-1 outline-black/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-blue-500 sm:text-sm/6"
          />

        </div>

      </div>



      <div>

        <label for="email" class="block text-sm/6 font-medium text-black">
          Email address
        </label>

        <div class="mt-2">

          <input 
            id="email"
            type="email"
            name="email"
            autocomplete="email"
            class="block w-full rounded-md bg-blue/5 px-3 py-1.5 text-base text-black outline-1 -outline-offset-1 outline-black/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-blue-500 sm:text-sm/6"
          />

        </div>

      </div>



      <div>

        <div class="flex items-center justify-between">

          <label for="password" class="block text-sm/6 font-medium text-black">
            Password
          </label>

        </div>


        <div class="mt-2">

          <input 
            id="password"
            type="password"
            name="password"
            autocomplete="current-password"
            class="block w-full rounded-md bg-blue/5 px-3 py-1.5 text-base text-black outline-1 -outline-offset-1 outline-black/10 placeholder:text-gray-500 focus:outline-2 -outline-offset-2 focus:outline-blue-500 sm:text-sm/6"
          />

        </div>

      </div>



      <div>

        <button 
          type="submit"
          class="flex w-full justify-center rounded-md bg-blue-600 px-3 py-1.5 text-sm/6 font-semibold text-white hover:bg-blue-700 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600">
          Create account
        </button>

      </div>


    </form>



    <p class="mt-10 text-center text-sm/6 text-gray-600">
  Already have an account?

  <a href="{% url 'adminlogin' %}" class="font-semibold text-blue-700 hover:text-blue-900">
    Login to your account
  </a>
</p>


  </div>

</div>


{% endblock content %}