<footer class="flex flex-col items-center justify-around w-full py-16 text-sm bg-slate-50 text-gray-800/70">
    <p class="mt-4 text-center">Copyright © 2026 <a href="https://prebuiltui.com">Leave Management WebVersion 1.O </a>. All rights reserved.</p>
    <div class="flex items-center gap-4 mt-6">
        <a href="#" class="font-medium text-gray-800 hover:text-black transition-all">
            Privacy Policy
        </a>
        <div class="h-4 w-px bg-black/20"></div>
        <a href="#" class="font-medium text-gray-800 hover:text-black transition-all">
            Contact Us
        </a>
    </div>
</footer>